.box {
    background-color: #242526;
    width: 90%;
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 0 0 50px 5px black;
}
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #18191A;
    overflow: hidden; 
    height:100vh;
  }
  
  #Air {
  }
  
  #Weather {
    margin-bottom: 10vh;
  }
  
  .header {
    color: white;
    background-color: #242526;
    width: 100%;
    height:8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Fixes the header at the top of the viewport */
    top: 0; /* Positions it at the top */
    left: 0; /* Positions it at the left edge */
    z-index: 0; /* Ensures it stays above other content */
  }
  
  #location {
    width: 100%;
    text-align: center;
  }
  
  /* Date Scroller Styling */
  /* src/Home.css */
  #date-scroller {
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: white;
      height: 10px;
      display: flex;
      overflow-x: auto; /* Enables horizontal scrolling */
      overflow-y: hidden; /* Prevents vertical scrolling */
      white-space: nowrap; /* Prevents wrapping of child elements */
      padding: 50px;
      width: 100%; /* Full width of its container */
      box-sizing: border-box; /* Includes padding and border in the width calculation */
      justify-content: center;
      align-items: center;
    }
    
    /* Hide scrollbar for Firefox and Webkit-based browsers */
    #date-scroller::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
    }
    
  #Allergy{
      margin-top: 15vh;
      height:70%;
  }
  
  .bar-container {
      background-color: #ddd;
      border-radius: 10px;
      width: 85%;
      height: 20px;
      overflow: hidden; /* Ensures the fill doesn't overflow the container */
      position: relative;
    }
    
    .bar-fill {
      background-color: #4CAF50; /* Color of the fill */
      height: 100%;
      transition: width 0.3s ease; /* Smooth transition for width changes */
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }
    .aqiBox{
      width:80%;
      display:flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .weather-info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    
  .weather-info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    
    .weather-text {
      color: white;
    }
    .mic{
        margin:20px;
    }