
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #242526;
    color: white;
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* Hide sidebar by default */
  }
  
  .sidebar.open {
    transform: translateX(0); /* Show sidebar when open */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #18191A;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    display: none;
  }
  
  .overlay.visible {
    display: block;
  }
  